<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Flybush</display-name>

    <filter>
        <filter-name>openid-filter</filter-name>
        <filter-class>com.dyuproject.openid.OpenIdServletFilter</filter-class>
        <init-param>
            <param-name>forwardUri</param-name>
            <param-value>/login.jsp</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>openid-filter</filter-name>
        <url-pattern>/browser-auth/*</url-pattern>
        <url-pattern>/token</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>edu.umd.cs.findbugs.flybush.usagePersistenceHelper</param-name>
        <param-value>edu.umd.cs.findbugs.flybush.appengine.AppEngineUsagePersistenceHelper</param-value>
    </context-param>

    <servlet>
        <servlet-name>RemoteApiServlet</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>UsageReportServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.UsageReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsageConsolidatorServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.UsageConsolidatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCheckServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.UpdateCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateXmlUploadServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.XmlUploadServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>TimeServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.TimeServlet</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>CountServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.CountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoteApiServlet</servlet-name>
        <url-pattern>/remote_api</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>UsageReportServlet</servlet-name>
        <url-pattern>/usage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCheckServlet</servlet-name>
        <url-pattern>/update-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateXmlUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
        <url-pattern>/create-default-versions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeServlet</servlet-name>
        <url-pattern>/time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountServlet</servlet-name>
        <url-pattern>/count</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Remote API</web-resource-name>
            <url-pattern>/remote_api</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Update XML uploader</web-resource-name>
            <url-pattern>/upload</url-pattern>
            <url-pattern>/upload.html</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Debugging pages</web-resource-name>
            <url-pattern>/time</url-pattern>
            <url-pattern>/count</url-pattern>
        </web-resource-collection>
       <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
<!--
    <filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
        <init-param>
            <param-name>logMessage</param-name>
            <param-value>Appstats available: /appstats/details?time={ID}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping><servlet>
        <servlet-name>appstats</servlet-name>
        <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appstats</servlet-name>
        <url-pattern>/appstats/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
-->
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>