<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Flybush</display-name>

    <filter>
        <filter-name>openid-filter</filter-name>
        <filter-class>com.dyuproject.openid.OpenIdServletFilter</filter-class>
        <init-param>
            <param-name>forwardUri</param-name>
            <param-value>/login.jsp</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>openid-filter</filter-name>
        <url-pattern>/browser-auth/*</url-pattern>
        <url-pattern>/token</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>edu.umd.cs.findbugs.flybush.persistenceHelper</param-name>
        <param-value>edu.umd.cs.findbugs.flybush.local.LocalPersistenceHelper</param-value>
    </context-param>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.AuthServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebPageServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.WebPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsageReportServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.UsageReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCheckServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.UpdateCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateXmlUploadServlet</servlet-name>
        <servlet-class>edu.umd.cs.findbugs.flybush.XmlUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/browser-auth/*</url-pattern>
        <url-pattern>/check-auth/*</url-pattern>
        <url-pattern>/log-in</url-pattern>
        <url-pattern>/log-out/*</url-pattern>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/find-issues</url-pattern>
        <url-pattern>/get-evaluations</url-pattern>
        <url-pattern>/get-recent-evaluations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/clear-all-data</url-pattern>
        <url-pattern>/update-issue-timestamps</url-pattern>
        <url-pattern>/upload-issues</url-pattern>
        <url-pattern>/upload-evaluation</url-pattern>
        <url-pattern>/set-bug-link</url-pattern>
        <url-pattern>/expire-sql-sessions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebPageServlet</servlet-name>
        <url-pattern>/issues/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsageReportServlet</servlet-name>
        <url-pattern>/usage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCheckServlet</servlet-name>
        <url-pattern>/update-check</url-pattern>
        <url-pattern>/track</url-pattern> <!-- obsolete -->
    </servlet-mapping>
    <!-- TODO: security!! -->
    <!--
    <servlet-mapping>
        <servlet-name>UpdateXmlUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Stats</web-resource-name>
            <url-pattern>/stats</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Expire SQL Sessions</web-resource-name>
            <url-pattern>/expire-sql-sessions</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Update XML uploader</web-resource-name>
            <url-pattern>/upload</url-pattern>
            <url-pattern>/upload.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>-->
</web-app>
