.gradle
build
.idea
.project
.settings
.classpath
*.iml
classesEclipse
.DS_Store

# TODO : Clean up
**/local.properties
**/*.class
eclipsePlugin-test/bin_eclipse/
eclipsePlugin/local.properties
findbugs/annotationJavaDoc/
findbugs/apiJavaDoc/
findbugs/doc/
findbugs/jnlp/appengine.jnlp
findbugs/local.properties
findbugs/design/architecture/architecture.aux
findbugs/design/architecture/architecture.out
findbugs/design/architecture/architecture.pdf
findbugs/design/architecture/architecture.toc
findbugs/design/architecture/depend.mak
findbugs/src/doc/allBugDescriptions.html
findbugs/src/doc/bugDescriptions.html
findbugs/src/doc/bugDescriptions_fr.html
findbugs/src/doc/bugDescriptions_ja.html
findbugs/web/
findbugsTestCases/build/
findbugsTestCases/history/
*.log
