**/local.properties
**/*.class
**/.DS_Store
JSR305-testCases/build/
NullPointerBenchmark/build/
bluej/bin/
bluej/lib/
bluej/dist/
eclipsePlugin-test/bin_eclipse/
eclipsePlugin/bin_build/
eclipsePlugin/bin_eclipse/
eclipsePlugin/dist/
eclipsePlugin/zips/
eclipsePlugin/lib/
eclipsePlugin/local.properties
findbugs/annotationJavaDoc/
findbugs/apiJavaDoc/
findbugs/bin/
findbugs/build/
findbugs/classesEclipse/
findbugs/doc/
findbugs/jnlp/appengine.jnlp
findbugs/lib/annotations.jar
findbugs/lib/findbugs-annotations.jar
findbugs/lib/findbugs-ant.jar
findbugs/lib/findbugs.jar
findbugs/lib/apache-ant-1.8.3-src.zip
findbugs/local.properties
findbugs/optionalPlugin/
findbugs/plugin/findbugsCommunalCloud.jar
findbugs/plugin/webCloudClient.jar
findbugs/plugin/googlecode.jar
findbugs/plugin/jira.jar
findbugs/src/doc/allBugDescriptions.html
findbugs/src/doc/bugDescriptions.html
findbugs/src/doc/bugDescriptions_fr.html
findbugs/src/doc/bugDescriptions_ja.html
findbugs/web/
findbugsTestCases/build/
findbugsTestCases/classesEclipse/
findbugsTestCases/history/
plugins/bugCollectionCloud/build/
plugins/bugCollectionCloud/build/
plugins/findbugsCommunalCloud/bin/
plugins/findbugsCommunalCloud/build/
plugins/googlecode/build/
plugins/jdbcCloudClient/build/
plugins/jira/build/
plugins/noUpdateChecks/build/
plugins/noUpdateChecks/build_eclipse/
plugins/poweruser/build/
plugins/poweruser/build/
plugins/webCloudClient/build/
plugins/webCloudClient/build/
plugins/webCloudClient/lib/
sandbox/detectorTutorial/build/
sandbox/localCloud/build/
sandbox/localCloud/classes/
server/appengine/war/WEB-INF/classes/
server/appengineUpdate/war/WEB-INF/lib/
server/appengineUpdate/war/WEB-INF/classes/
server/common/build/
server/common/classes/
server/common/classesEclipse/
server/webCommon/classesEclipse/
server/webCommon/build/
server/webUpdateCheck/classesEclipse/
server/webUpdateCheck/build/
target
webCloudProtocol/build/
*.log
