.gradle
build
.idea
.project
.settings
.classpath
*.iml
*.swp
*.ipr
*.iws
classesEclipse
.DS_Store
deps/
eclipse/
bin/

# to sign eclipse plugin
spotbugs.jks

# generated manifest files
spotbugs/META-INF/MANIFEST.MF
spotbugs-annotations/META-INF/MANIFEST.MF
eclipsePlugin/META-INF/MANIFEST-DIST.MF
eclipsePlugin/META-INF/MANIFEST.MF
eclipsePlugin/build.properties

# Libraries are copied to this directory
spotbugs/.libs/
eclipsePlugin/lib/

# TODO : Clean up
**/local.properties
**/*.class
eclipsePlugin-test/bin_eclipse/
eclipsePlugin/local.properties
spotbugs/annotationJavaDoc/
spotbugs/apiJavaDoc/
spotbugs/doc/
spotbugs/jnlp/appengine.jnlp
spotbugs/local.properties
spotbugs/design/architecture/architecture.aux
spotbugs/design/architecture/architecture.out
spotbugs/design/architecture/architecture.pdf
spotbugs/design/architecture/architecture.toc
spotbugs/design/architecture/depend.mak
spotbugs/src/doc/allBugDescriptions.html
spotbugs/src/doc/bugDescriptions.html
spotbugs/src/doc/bugDescriptions_fr.html
spotbugs/src/doc/bugDescriptions_ja.html
spotbugs/web/
spotbugsTestCases/build/
spotbugsTestCases/history/
*.log
spotbugs-tests/src/test/resources/
