<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="edu.umd.cs.findbugs"
   name="%pluginName"
   version="0.7.0"
   provider-name="%providerName">

   <runtime>
      <library name="bcel.jar">
         <export name="*"/>
      </library>
      <library name="dom4j-full.jar">
         <export name="*"/>
      </library>
      <library name="findbugs.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


</plugin>
