<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.umd.cs.findbugs.plugin.eclipse.findbugsPlugins">
      <findbugsPlugin fbPluginId="edu.umd.cs.findbugs.plugins.noUpdateChecks"
            libraryPath=".">
      </findbugsPlugin>
   </extension>

</plugin>
