plugins {
  id  'com.github.spotbugs' version '|gradle-plugin|'
}
spotbugs {
  toolVersion = '|release|'
}

// To generate an HTML report and XML report
tasks.withType(com.github.spotbugs.snom.SpotBugsTask) {
  reports {
    xml.required.set(true)
    html.required.set(true)
  }
}
