plugins {
  id  'com.github.spotbugs' version '1.5'
}
spotbugs {
  toolVersion = '|release|'
}

// To generate an HTML report instead of XML
tasks.withType(com.github.spotbugs.SpotBugsTask) {
  reports {
    xml.enabled = false
    html.enabled = true
  }
}
