plugins {
  id  'com.github.spotbugs' version '|gradle-plugin|'
}
spotbugs {
  toolVersion = '|release|'
}

// To generate an HTML report instead of XML
tasks.withType(com.github.spotbugs.SpotBugsTask) {
  reports.xml.enabled = false
  reports.html.enabled = true
}
