name: build
on: [push, pull_request]

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java: [17, 21]
      max-parallel: 6
    runs-on: ${{ matrix.os }}
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: gradle
      - uses: gradle/wrapper-validation-action@v1
      - name: Download Eclipse on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          curl -L 'https://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops4/R-4.29-202309031000/eclipse-SDK-4.29-linux-gtk-x86_64.tar.gz&r=1' --output eclipse-SDK-4.29-linux-gtk-x86_64.tar.gz
          tar xzf eclipse-SDK-4.29-linux-gtk-x86_64.tar.gz eclipse
          echo "eclipseRoot.dir=$(pwd)/eclipse" | tee eclipsePlugin/local.properties
      - name: Download Eclipse on Windows
        if: matrix.os == 'windows-latest'
        run: |
          curl 'https://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops4/R-4.29-202309031000/eclipse-SDK-4.29-win32-x86_64.zip&r=1' -o eclipse-SDK-4.29-win32-x86_64.zip
          Expand-Archive "eclipse-SDK-4.29-win32-x86_64.zip" -DestinationPath "." -Force
          $escapedPwd = $pwd.Path -replace '\\', '\\'
          [System.IO.File]::WriteAllLines("$pwd\\eclipsePlugin\\local.properties", "eclipseRoot.dir=$escapedPwd\\eclipse")
        shell: powershell
      - name: Download Eclipse on Mac
        if: matrix.os == 'macos-latest'
        run: |
          curl -L 'https://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops4/R-4.29-202309031000/eclipse-SDK-4.29-macosx-cocoa-x86_64.dmg&r=1' --output eclipse-SDK-4.29-macosx-cocoa-x86_64.dmg
          hdiutil attach eclipse-SDK-4.29-macosx-cocoa-x86_64.dmg
          cp -r /Volumes/Eclipse/Eclipse.app /Applications/
          hdiutil detach /Volumes/Eclipse
          echo "eclipseRoot.dir=/Applications/Eclipse.app" | tee eclipsePlugin/local.properties
      - name: Pre-build setup
        if: matrix.os != 'windows-latest'
        run: |
          echo "keystorepass=${KEYSTORE_PASS}" >> gradle.properties
          git fetch --no-tags https://$GITHUB_TOKEN@github.com/spotbugs/spotbugs.git +refs/heads/master:refs/remotes/origin/master
          if [ "$GPG_SECRET_PASSPHRASE" != "" ]; then
            gpg --quiet --batch --yes --decrypt --passphrase="$GPG_SECRET_PASSPHRASE" --output spotbugs.jks .github/workflows/spotbugs.jks.gpg;
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_SECRET_PASSPHRASE: ${{ secrets.GPG_SECRET_PASSPHRASE }}
          KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
      - name: Pre-build setup Windows
        if: matrix.os == 'windows-latest'
        run: |
          echo "keystorepass=${KEYSTORE_PASS}" >> gradle.properties
          git fetch --no-tags https://$GITHUB_TOKEN@github.com/spotbugs/spotbugs.git +refs/heads/master:refs/remotes/origin/master
          if ( "$GPG_SECRET_PASSPHRASE" -ne "" ) {
            gpg --quiet --batch --yes --decrypt --passphrase="$GPG_SECRET_PASSPHRASE" --output spotbugs.jks .github/workflows/spotbugs.jks.gpg;
          }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_SECRET_PASSPHRASE: ${{ secrets.GPG_SECRET_PASSPHRASE }}
          KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
      - name: Build
        # https://community.sonarsource.com/t/sonarcloud-now-not-updating-github-pr-and-checks/6595/17
        run: |
          ./gradlew spotlessCheck build smoketest ${SONAR_LOGIN:+sonar} --no-daemon "-Dsonar.token=$SONAR_LOGIN" --scan
        env:
          SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
