name: build
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@722adc6
        with:
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@081536e
        with:
          java-version: '8.0.x'
      - uses: actions/cache@cffae95
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Download Eclipse
        run: |
          wget -nv 'https://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops4/R-4.6.3-201703010400/eclipse-SDK-4.6.3-linux-gtk-x86_64.tar.gz&r=1' -O eclipse-SDK-4.6.3-linux-gtk-x86_64.tar.gz
          tar xzvf eclipse-SDK-4.6.3-linux-gtk-x86_64.tar.gz eclipse
          echo "eclipseRoot.dir=$(pwd)/eclipse" > eclipsePlugin/local.properties
      - name: Extract GitHub Secrets to local files
        run: |
          echo "keystorepass=${KEYSTORE_PASS}" >> gradle.properties
          gpg --quiet --batch --yes --decrypt --passphrase="$GPG_SECRET_PASSPHRASE" --output spotbugs.jks .github/workflows/spotbugs.jks.gpg
        env:
          GPG_SECRET_PASSPHRASE: ${{ secrets.GPG_SECRET_PASSPHRASE }}
          KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
        if: ${{ GPG_SECRET_PASSPHRASE != '' }}
      - name: Build
        # https://community.sonarsource.com/t/sonarcloud-now-not-updating-github-pr-and-checks/6595/17
        run: |
          git fetch --no-tags https://$GITHUB_TOKEN@github.com/spotbugs/spotbugs.git +refs/heads/master:refs/remotes/origin/master
          ./gradlew spotlessCheck build smoketest sonarqube --no-daemon --parallel -Dsonar.login=$SONAR_LOGIN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
